VocabTrainerPhoneApp/Service References/VocabTrainerServiceReference/School2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vocabtrainerwcf.tischlerei-penert.de/School.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marx.Wolfgang.VocabTrainer.DataModel" />
  <xs:element name="GetClassRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marx.Wolfgang.VocabTrainer.DataModel" minOccurs="0" name="GetClassRoomsResult" nillable="true" type="q1:ArrayOfBasicClassRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDataUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDataUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastDataUpdateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>